    .progress-area{
    margin:auto;
	width:90%;
	}
	.progress-area progress{
	  width: 100%;
      margin:5px auto;
	}
	
	#player-box{
	  border: #FFF solid;
	  width: 90%;
	  height: 160px;
	  margin:auto;
	}
    #word-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    #kana{
        font-size:1.5rem;
        display: inherit;
        word-break: keep-all;
        letter-spacing: 1.8px;
        overflow: hidden;
        white-space: nowrap;
    }
    #lyrics{
        font-size:1.5rem;
    }
    #roma{
        font-size:1.5rem;
        display: inherit;
        word-break: keep-all;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 3.0px;
        text-transform: uppercase;
    }
    .text-shadow {
        text-shadow: black 0.6px 0px, black -0.6px 0px, black 0px -0.6px, black 0px 0.6px, black 0.6px 0.6px, black -0.6px 0.6px, black 0.6px -0.6px, black -0.6px -0.6px, black 1px 0.6px, black -1px 0.6px, black 1px -0.6px, black -1px -0.6px, black 0.6px 1px, black -0.6px 1px, black 0.6px -1px, black -0.6px -1px;
    }

    #skip-guide{
        height:1rem;
    }